<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUR TO DO LIST</title>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>  
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1> MY TO DO LIST APP</h1>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add New Task" required maxlength="40"/>
            <button type ="submit">ADD item</button>
        </form>
        <p>Double click to Remove item</p>

        <ul>

           <% for(var i=0;i<todos.length;i++){ %>

            <li><%= todos[i].item %></li>

           <% } %>
        </ul>
    </div>
</body>
</html>
